<main>
  <h1>Profile</h1>
  <h4>Role: <%= current_user.type %></h4>

  <div>
    <%= image_tag current_user.avatar.url(:medium) %>
  </div>

  <%= form_for current_user, url: user_path(current_user), html: {method: :patch} do |f| %>

    <div class="form-field">

      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="form-field">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>

    <div class="form-field">
      <%= f.submit "Update Profile" %>
    </div>

  <% end %>
</main>
