<main style="display: flex">
  <div class="left-sidebar"
       style="display: flex;
           width: 10%;
           flex-direction: column;">
    <h1>Grades</h1>
    <ul style="font-size: 24px">
      <% current_user.grades.pluck(:cls).each do |c| %>
        <li class="grade-cls" style="cursor: pointer"><%= c %></li>
      <% end %>
    </ul>

  </div>

  <div class="right-sidebar" style="display: inline-block;text-align: center;width: 40%;">
    <h1>Posts</h1>
    <% current_user.all_posts(current_user).each do |grade, posts| %>
      <div id="grade-<%=grade %>" class="grade-content" style="display: none">
        <% posts.each do |post| %>
          <% post.each do |pst| %>
           <% pst.each do |p| %>
              <div class="post-content"
                   style="width: 320px;
                       margin: 0 auto;
                       padding: 15px;
                       border: 1px solid #CCC;
                       border-radius: 1em;">
                <p>Title:  <%= p.title %></p>
                <p>Content:  <%= p.content %></p>
                <p>Grade: <%= grade %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to 'New Post', new_post_path(grade: grade) %>
      </div>
    <% end %>

  </div>
</main>

<script>

    window.addEventListener('load', function (ev) {

        $('.grade-cls').click(function() {
            $('.grade-content').hide();
            // console.log($(this).html());
            var val = $(this).html();
            $('#grade-'+ val).show();

        });




    });



</script>



<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Title</th>-->
<!--    <th>Content</th>-->
<!--    <th>User Role</th>-->
<!--    <th colspan="3"></th>-->
<!--  </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
  <%# @posts.each do |post| %>
<!--    <tr>-->
      <%# if @ability.can? :read, post %>
<!--        <td><%#= post.title %></td>-->
<!--        <td><%#= post.content %></td>-->
<!--        <td><%#= post.user.roles.pluck(:name)[0] %></td>-->
      <%# end %>

<!--      <td><%#= link_to 'Show', post %></td>-->
      <%# if @ability.can? :update, post,user_id: current_user.id %>
<!--        <td><%#= link_to 'Edit', edit_post_path(post) %></td>-->
      <%# end %>

      <%# if @ability.can? :destroy, post, user_id: current_user.id %>
<!--        <td><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <%# end %>
<!--    </tr>-->
  <%# end %>
<!--  </tbody>-->
<!--</table>-->

<br>

